/* .opening-page {
    background-image: url(../assets/images/background-phone.png);
} */

body {
    margin: 0;
    padding: 0;
    background-image: url(../assets/images/background-phone.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5); /* black with 50% opacity */
    z-index: -20;
    pointer-events: none;
}

.sub-title {
    font-family: "Kantumruy Pro", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    color: #D3C8B3;
    font-size: 1.2rem;
}

.title {
    font-family: "Kantumruy Pro", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 1.6rem;
    color: #F4EAD0;
}